<%- include('partials/header'); %> 


<div id="main">
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col">
        <h1>My Account</h1>
        <form action="/account" method="post" enctype="multipart/form-data">
          <input type="text" name="displayName" placeholder="Display Name" value="<%= locals.user.displayName %>">
          <input type="email" name="email" placeholder="Display Name" value="<%= locals.user.email %>">
          <% if (locals.user.photoURL) { %>
            <p class="avatar">
              <img src="<%= locals.user.photoURL %>" alt="">
            </p>
          <% } %>
          <input type="file" name="avatar">
          <button type="submit">Update</button>
        </form>
      </main>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>